*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body{
    background:url("../assets/backgroundimage.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
    
@import "../scss/header";

a{
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    li{

    }
    a{

    }
    img{
        padding: 0rem;
        height: 4.75rem;
        width: 4.75rem;
        border-radius: 3.5rem;
        animation-name: luz;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-delay: 0s;
    }
}

.escondidos{
    display: none;
    text-align: center;
    justify-content: space-around;
}


.menu_item:hover .escondidos{
    display: block;
}






@keyframes luz{
    0%{border:solid 2px none;}
    25%{border:solid 2px green;}
    50%{border:solid 2px red;}
    75%{border:solid 2px blue;}
    100%{border:solid 2px none;}
}

ul li a img:hover{
    transform: scale(1.3, 1.3);
    transition: all 1s;

}

header ul li a{
    display: block;
    margin: 15px;
}

main{
    color: white;
}

article{
    background-color: rgba(0,0,0,0.5);
    width: 75vw;
    display: block;
    margin: 1.25rem auto;
    padding: 1.25rem;
    border-radius: 1rem;
}
h1{
    margin: 15px auto;
}

h1,h2{
    text-align: center;
}

h2{
    margin-bottom: 1rem;
}

section{
    margin: 1rem;
    padding: 0 2rem;
}

input {
    margin: 1rem auto;
    display: block;
    padding: 0.5rem;
}

button {
    background-color: var(--violeta);
    border-radius: 10px;
    padding: 0.5rem;
    display: block;
    margin: 0.75rem auto;
}

.caja_merch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    width: 100vw;
    height:100vw;}

    ol{
        ul{
            padding-left: 0rem;
        }
    }